.mdl-layout > .mdl-layout__content {
    padding-bottom: 72px;
    transition: padding-bottom 210ms;
}

.mm-audio-popup-wrapper {
}

.mm-audio-popup-wrapper > .mm-ap--fab,
.mm-audio-popup-wrapper .mm-ap--audio-wrapper {
    -webkit-animation-duration: 210ms;
    -moz-animation-duration: 210ms;
    -o-animation-duration: 210ms;
    animation-duration: 210ms;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-timing-function: cubic-bezier(0.525, 0.005, 0.515, 1.000);
    -moz-animation-timing-function: cubic-bezier(0.525, 0.005, 0.515, 1.000);
    -o-animation-timing-function: cubic-bezier(0.525, 0.005, 0.515, 1.000);
    animation-timing-function: cubic-bezier(0.525, 0.005, 0.515, 1.000); /* custom */

    -webkit-animation-delay: 0ms;
    -moz-animation-delay: 0ms;
    -o-animation-delay: 0ms;
    animation-delay: 0ms;

    z-index: 1000000000;
}

.mm-audio-popup-wrapper > .mm-ap--fab {
    position: fixed;
    right: 16px;
    bottom: 0;
    -webkit-transform: translateY(-16px);
    transform: translateY(-16px);
}

.mm-audio-popup-wrapper.open > .mm-ap--fab {
    -webkit-animation-name: mm-ap-fab--open;
    animation-name: mm-ap-fab--open;
}

@-webkit-keyframes mm-ap-fab--open {
    0% {
        -webkit-transform: translateY(-16px);
        transform: translateY(-16px);
    }
    100% {
        -webkit-transform: translateY(56px);
        transform: translateY(56px);
    }
}

@keyframes mm-ap-fab--open {
    0% {
        -webkit-transform: translateY(-16px);
        transform: translateY(-16px);
    }
    100% {
        -webkit-transform: translateY(56px);
        transform: translateY(56px);
    }
}

.mm-audio-popup-wrapper .mm-ap--audio-wrapper {
    width: 100%;
    position: fixed;
    -webkit-transform: translateY(220px);
    transform: translateY(220px);
    left: 0;
    bottom: 0;

    -webkit-animation-duration: 350ms;
    animation-duration: 350ms;
}

.mm-audio-popup-wrapper.open .mm-ap--audio-wrapper {
    -webkit-animation-name: mm-ap-audio-container--open;
    animation-name: mm-ap-audio-container--open;

    -webkit-animation-delay: 180ms;
    animation-delay: 180ms;
}

@-webkit-keyframes mm-ap-audio-container--open {
    0% {
        -webkit-transform: translateY(220px);
        transform: translateY(220px);
    }
    100% {
        -webkit-transform: translateY(0px);
    = transform: translateY(0 px);
    }
}

@keyframes mm-ap-audio-container--open {
    0% {
        -webkit-transform: translateY(220px);
        transform: translateY(220px);
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

.mm-audio-popup-wrapper.close > .mm-ap--fab {
    -webkit-animation-name: mm-ap-fab--close;
    animation-name: mm-ap-fab--close;

    -webkit-animation-delay: 350ms;
    animation-delay: 350ms;

    -webkit-transform: translateY(56px);
    transform: translateY(56px);
}

@-webkit-keyframes mm-ap-fab--close {
    0% {
        -webkit-transform: translateY(56px);
        transform: translateY(56px);
    }
    100% {
        -webkit-transform: translateY(-16px);
        transform: translateY(-16px);
    }
}

@keyframes mm-ap-fab--close {
    0% {
        -webkit-transform: translateY(56px);
        transform: translateY(56px);
    }
    100% {
        -webkit-transform: translateY(-16px);
        transform: translateY(-16px);
    }
}

.mm-audio-popup-wrapper.close .mm-ap--audio-wrapper {
    -webkit-animation-name: mm-ap-audio-container--close;
    animation-name: mm-ap-audio-container--close;

    -webkit-transform: translateY(220px);
    transform: translateY(220px);
    left: 0;
}

@-webkit-keyframes mm-ap-audio-container--close {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    100% {
        -webkit-transform: translateY(220px);
        transform: translateY(220px);
    }
}

@keyframes mm-ap-audio-container--close {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    100% {
        -webkit-transform: translateY(220px);
        transform: translateY(220px);
    }
}

.mm-audio-popup-wrapper.close-open .mm-ap--audio-wrapper {
    -webkit-animation-name: mm-ap-audio-container--close-open;
    animation-name: mm-ap-audio-container--close-open;

    -webkit-animation-duration: 600ms;
    animation-duration: 600ms;

    -webkit-animation-delay: 0ms;
    animation-delay: 0ms;

    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;

    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    left: 0;
}

@-webkit-keyframes mm-ap-audio-container--close-open {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);

    }
    50% {
        -webkit-transform: translateY(220px);
        transform: translateY(220px);
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes mm-ap-audio-container--close-open {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);

    }
    50% {
        -webkit-transform: translateY(220px);
        transform: translateY(220px);
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

.mm-audio-popup-wrapper .mm-ap--audio-wrapper .mm-ap--fab {
    position: absolute;
    top: -28px;
    right: 16px;
}

.mm-audio-popup-wrapper .mm-ap--audio-wrapper .mm-ap--audio-grid > .mdl-cell {
    padding: 8px;
    background-color: #fff;
    margin: 6px 8px;
}

.mm-audio-popup-wrapper .mm-ap--audio-wrapper .mm-ap--audio-grid > .mm-ap--audio-title {
    width: calc(100% - 88px);
    font-size: 18px;
}

.mm-audio-popup-wrapper .mm-ap--audio-wrapper .mm-ap--audio-grid > .mm-ap--audio-container > audio {
    width: 100%;
}