html, body, .mdl-layout {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.mdl-navigation__link {
    position: relative;
    overflow: hidden;

    font-weight: 200;
    font-size: 18px;
}

.mdl-navigation__link:hover {
    color: #222 !important;
}

.mdl-layout__drawer {
    border: none !important;

    /* I don't like it */
    /*width: 200px;*/
}

.mdl-layout__header-row {
    padding-left: 60px;
}

/* I don't like it */
/*.mdl-layout--fixed-drawer:not(.is-small-screen) > .mdl-layout__header,
.mdl-layout--fixed-drawer:not(.is-small-screen) > .mdl-layout__content {
    width: calc(100% - 200px) !important;
    margin-left: 200px !important;
}*/

/* itc */

.itc {
    padding: 8px;

    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;

    -webkit-align-items: center;
    align-items: center;
}

.itc--image {
    display: block;
    flex-shrink: 1;
}

.itc--text {
    display: block;
    margin-left: 8px;
    flex: 1;
}

/* mm-list */

.mm-list {
    padding: 0;
    /*margin-bottom: 8px;*/
}

.mm-list > .mdl-cell {
    position: relative;
    width: 100% !important;
}

.mm-list > a.mdl-cell {
    cursor: pointer;
}

.mm-list > .mm-list--header {
    padding: 8px 16px 16px;

    font-size: 14px;
    color: rgba(0, 0, 0, 0.37);
    font-weight: bold;
    text-decoration: none;
}

.mm-list > .mm-list--header > .itc {
    padding: 0;
}

.mm-list > .mm-list--header > .itc > .itc--image {
    line-height: 48px;
    font-size: 32px;
}

.mm-list > .mm-list--header > .itc > .itc--text {
    line-height: 24px;
}

.mm-list > .mm-list--header .mm-title {
    margin: 0;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.54);
}

.mm-list > .mm-list--header .mm-subtitle {
    margin: 0;
    font-size: 13px;
}

.mm-list > .mm-list--item {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    min-height: 48px;
    padding: 12px 16px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    text-decoration: none;
    color: #000;
    font-size: 16px;
    transition: background-color 57ms ease-out;
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.mm-list > .mm-list--item:last-of-type {
    border-bottom: none;
}

.mm-list > .mm-list--item.selected {
    background-color: rgba(0, 0, 0, .1);
}

.mm-list > .mm-list--item:hover {
    background-color: rgba(0, 0, 0, .13);
}

.mm-list > .mm-list--item:active:not[data-upgraded=",MaterialRipple"] {
    background-color: rgba(0, 0, 0, .13);
}

.mm-list > .mm-list--item > .mm-list--item-text {
    display: block;
    max-width: calc(100% - 24px);
    flex-shrink: 1;
    -webkit-flex-shrink: 1;
    padding-right: 16px;

    box-sizing: border-box;
    font-size: 18px;
    word-break: break-all;
}

.mm-list > .mm-list--item > .mm-list--item-text .mm-list--item-text-title,
.mm-list > .mm-list--item > .mm-list--item-text .mm-list--item-text-subtitle {
    display: block;
    margin: 0;
}

.mm-list > .mm-list--item > .mm-list--item-text .mm-list--item-text-title {
    font-size: 18px;
}

.mm-list > .mm-list--item > .mm-list--item-text .mm-list--item-text-subtitle {
    color: rgba(24, 24, 24, 0.86);
    font-size: 14px;
}

.mm-list > .mm-list--item > .mm-list--icon-left {
    flex-shrink: 1;
    -webkit-flex-shrink: 1;
    margin-right: auto;
    height: 100%;
    float: left;
    color: rgba(0, 0, 0, .57);
}

.mm-list > .mm-list--item > .mm-list--icon-right {
    flex-shrink: 1;
    -webkit-flex-shrink: 1;
    margin-left: auto;
    height: 100%;
    float: right;
    color: rgba(0, 0, 0, .57);
}

/* extra styles */

.mm--main-grid > .mdl-cell {
    background-color: #fff;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}

.mm-title, .mm-subtitle {
    display: block;
    line-height: normal;
}

.mm-title {
    font-size: 18pt;
}

.mm-hr {
    margin: 8px 0;
}

.mm-subtitle {
    font-size: 1em;
}

.mm-padding {
    padding: 8px;
}

.mm-center {
    margin: 8px auto;
}

/* footer */

.mm-footer {
    position: fixed;
    right: 0;
    bottom: -63px;
    left: 0;
    z-index: 1000000;
}

.mm-footer > .mm-footer--body {
    padding: 16px;
}

.mm-footer > .mm-footer--body img {
    margin-right: 8px;
}

.mdl-js-ripple-effect {
}

.ma-load-cover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2147483647;

    height: 100%;
    width: 100%;

    background: #fff;
    opacity: 1;
}

.ma-load-cover.hide {
    pointer-events: none;

    -webkit-animation-name: load-cover-hide;
    animation-name: load-cover-hide;

    -webkit-animation-duration: 760ms;
    -moz-animation-duration: 760ms;
    -o-animation-duration: 760ms;
    animation-duration: 760ms;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

@keyframes load-cover-hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-webkit-keyframes load-cover-hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.ma-load-cover--content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 47px;
    margin: auto;
    height: 51px;
    width: 80%;
    max-width: 500px;
    opacity: 0;

    -webkit-animation-name: cover-content-fade-in;
    animation-name: cover-content-fade-in;

    -webkit-animation-duration: 400ms;
    animation-duration: 400ms;

    -webkit-animation-delay: 200ms;
    animation-delay: 200ms;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes cover-content-fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes cover-content-fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.ma-load-cover--text {
    font-size: 24pt;
    line-height: normal;
}

.ma-load-cover--loading .mdl-progress > .bar1 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}