.m4christ-audio {
    box-sizing: border-box;
    padding-bottom: 72px;
}

.m4christ-audio * {
    box-sizing: border-box;
}

/* The controls wrapper:
a .mdl-cell that wraps all of the controls.
will contain a icon-controls wrapper and a slider-controls
*/
.m4christ-audio .ma-controls {
    padding: 16px;
    background: #fff;
    width: 100%;
}

@media (max-width:1024px) {
    .m4christ-audio .ma-controls {
        top: 54px;
    }
}

@media (min-width:1024px) {
    .m4christ-audio .ma-controls {
        top: 64px;
    }
}

/* The icons controls wrapper:
a div that is on top of the slides and contains all elements that are icon controls, like play pause
will contain main-controls and secondary-controls
*/
.m4christ-audio .ma-controls .ma-icon-controls {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

/* adds padding for main-controls and secondary-controls */
.m4christ-audio .ma-controls .ma-icon-controls > div {
    flex-shrink: 1;
    padding: 8px 6px;

    border: 1pt solid rgba(0, 0, 0, 0.1);
}

/* styles for main-controls:
 will contain rewind, play-pause, and fast-forward*/
.m4christ-audio .ma-controls .ma-icon-controls .ma-icon-controls--main-controls {
    position: relative;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.m4christ-audio .ma-controls .ma-icon-controls .ma-icon-controls--play-pause {
    height: 40px;
    width: 40px;
}

.ma-arrow-container {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    pointer-events: none;
}

.ma-arrow-container .arrow {
    display: block;
    position: relative;
    top: 0;
    left: -18px;
    transform: translateY(6px);
    -webkit-transform: translateY(6px);
    margin: 0 auto;

    height: 16px;
    width: 16px;
    z-index: 1;

    /* animation properties */
    -webkit-animation-name: arrow-bounce;
    -moz-animation-name: arrow-bounce;
    -o-animation-name: arrow-bounce;
    animation-name: arrow-bounce;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;

    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

}

@keyframes arrow-bounce {
    0% {
        transform: translateY(6px);
    }
    50% {
        transform: translateY(-6px);
    }
    100% {
        transform: translateY(6px);
    }
}

@-webkit-keyframes arrow-bounce {
    0% {
        -webkit-transform: translateY(6px);
    }
    50% {
        -webkit-transform: translateY(-6px);
    }
    100% {
        -webkit-transform: translateY(6px);
    }
}

/* make sure icon is on top of highlight */
.m4christ-audio .ma-controls .ma-icon-controls .ma-icon-controls--play-pause > .material-icons {
    font-size: 32px;
    -webkit-transform: translate(-16px, -16px);
    transform: translate(-16px, -16px);
    line-height: 32px;
    width: 32px;
    z-index: 5;
}

/* make sure ripple is on top of icon */
.m4christ-audio .ma-controls .ma-icon-controls .ma-icon-controls--play-pause > .mdl-button__ripple-container {
    z-index: 10;
}

/*.m4christ-audio .ma-controls .ma-icon-controls .ma-controls*/
/* Some hr styles*/
.m4christ-audio .ma-controls hr {
    margin: 16px -16px;
}

/* Time Component */

/* the time wrapper:
 will contain current time and duration*/
.ma-controls-time {
    margin-top: 8px;
    padding: 8px;
    text-align: center;
}

/* Slider Component
the slider itself
contains 3 components:
    itself with white background
    a buffering bar that will fit the size of buffered info (controlled via. JS)
    progress bar that will show progress (controlled via. JS):
        contains circle button that seeks track (controlled via. JS)
*/
.ma-controls-slider {
    position: relative;
    margin: 0;
    height: 25px;
}

.ma-controls-slider, .ma-controls-slider div {
    box-sizing: border-box;

    /* http://stackoverflow.com/questions/826782/css-rule-to-disable-text-selection-highlighting */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    user-select: none;
    /* non-prefixed version, currently
                           not supported by any browser */
}

.ma-controls-slider > div {
    position: absolute;
    top: 11px;
    height: 3px;
    min-width: 0;
    max-width: 100%;

    cursor: pointer;
}

.ma-controls-slider .ma-slider--background {
    width: 100%;
}

.ma-controls-slider .ma-slider--progress-circle {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -7px;

    height: 14px;
    width: 14px;
    border-radius: 50%;

    cursor: pointer;
}

.ma-controls-slider .ma-slider--progress-circle.pressed {
    right: -9px;
    height: 18px;
    width: 18px;
}

.mm-list > .mm-list--item.selected {
    background-color: #FFCA28; /* amber-400 */
}

/* lyric work starts here */

.ma-lyrics {
    padding: 0;
}

.ma-lyrics > .mdl-cell {
    margin: 0;
}

.ma-lyrics .ma-lyrics--title {
    position: relative;
    height: 56px;
    width: 100%;

    cursor: pointer;
}

.ma-lyrics .ma-lyrics--title-text {
    position: absolute;
    left: 16px;

    line-height: 56px;
    font-size: 14.5pt;
}

.ma-lyrics .ma-lyrics--icons {
    position: absolute;
    top: calc(50% - 12px);
    right: 16px;

    font-size: 24px;
    font-family: 'Material Icons', serif;
}

.ma-lyrics--text {
    max-height: 0;
    width: 100%;
    overflow: hidden;
    font-size: 12pt;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 300ms;

    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}

.ma-lyrics.show .ma-lyrics--text {
    -webkit-animation-name: text-show;
    -moz-animation-name: text-show;
    -o-animation-name: text-show;
    animation-name: text-show;
}

.ma-lyrics.hide .ma-lyrics--text {
    -webkit-animation-name: text-hide;
    -moz-animation-name: text-hide;
    -o-animation-name: text-hide;
    animation-name: text-hide;
}

@keyframes text-show {
    0% {
        max-height: 0;
        overflow: hidden;
    }
    99.9% {
        max-height: 200px;
        overflow: hidden;
    }
    100% {
        max-height: 200px;
        overflow: auto;
    }
}

@-webkit-keyframes text-show {
    0% {
        max-height: 0;
        overflow: hidden;
    }
    99.9% {
        max-height: 200px;
        overflow: hidden;
    }
    100% {
        max-height: 200px;
        overflow: auto;
    }
}

@keyframes text-hide {
    0% {
        max-height: 200px;
        overflow: auto;
    }
    0.1% {
        max-height: 200px;
        overflow: hidden;
    }
    100% {
        max-height: 0;
        overflow: hidden;
    }
}

@-webkit-keyframes text-hide {
    0% {
        max-height: 200px;
        overflow: auto;
    }
    0.1% {
        max-height: 200px;
        overflow: hidden;
    }
    100% {
        max-height: 0;
        overflow: hidden;
    }
}


.ma-load-cover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2147483647;

    height: 100%;
    width: 100%;

    background: #fff;
    opacity: 1;
}

.ma-load-cover.hide {
    pointer-events: none;

    -webkit-animation-name: load-cover-hide;
    animation-name: load-cover-hide;

    -webkit-animation-duration: 760ms;
    -moz-animation-duration: 760ms;
    -o-animation-duration: 760ms;
    animation-duration: 760ms;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

@keyframes load-cover-hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-webkit-keyframes load-cover-hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.ma-load-cover--content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 47px;
    margin: auto;
    height: 51px;
    width: 80%;
    max-width: 500px;
    opacity: 0;

    -webkit-animation-name: cover-content-fade-in;
    animation-name: cover-content-fade-in;

    -webkit-animation-duration: 400ms;
    animation-duration: 400ms;

    -webkit-animation-delay: 200ms;
    animation-delay: 200ms;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes cover-content-fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes cover-content-fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.ma-load-cover--text {
    font-size: 24pt;
    line-height: normal;
}

.ma-load-cover--loading .mdl-progress > .bar1 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.ma-pp-fab {
    position: fixed;
    bottom: 0;
    right: 16px;

    -webkit-transform: translateY(56px);
    transform: translateY(56px);

    z-index: 10000000;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;

    -webkit-animation-timing-function: cubic-bezier(0.390, 0.575, 0.565, 1.000);
    -moz-animation-timing-function: cubic-bezier(0.390, 0.575, 0.565, 1.000);
    -o-animation-timing-function: cubic-bezier(0.390, 0.575, 0.565, 1.000);
    animation-timing-function: cubic-bezier(0.390, 0.575, 0.565, 1.000);

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.ma-pp-fab.show {
    -webkit-animation-name: pp-fab-show;
    animation-name: pp-fab-show;
}

.ma-pp-fab.hide {
    -webkit-animation-name: pp-fab-hide;
    animation-name: pp-fab-hide;
}

@keyframes pp-fab-show {
    from {
        -webkit-transform: translateY(56px);
        transform: translateY(56px);
    }
    to {
        -webkit-transform: translateY(-16px);
        transform: translateY(-16px);
    }
}

@keyframes pp-fab-hide {
    from {
        -webkit-transform: translateY(-16px);
        transform: translateY(-16px);
    }
    to {
        -webkit-transform: translateY(56px);
        transform: translateY(56px);
    }
}

@-webkit-keyframes pp-fab-show {
    from {
        -webkit-transform: translateY(56px);
        transform: translateY(56px);
    }
    to {
        -webkit-transform: translateY(-16px);
        transform: translateY(-16px);
    }
}

@-webkit-keyframes pp-fab-hide {
    from {
        -webkit-transform: translateY(-16px);
        transform: translateY(-16px);
    }
    to {
        -webkit-transform: translateY(56px);
        transform: translateY(56px);
    }
}