.m4christ-audio {
    box-sizing: border-box;
}

.m4christ-audio * {
    box-sizing: border-box;
}

/* The controls wrapper:
a .mdl-cell that wraps all of the controls.
will contain a icon-controls wrapper and a slider-controls
*/
.m4christ-audio .ma-controls {
    padding: 16px;
    background: #fff;

    transition: box-shadow 256ms ease-in-out;
}

/* The icons controls wrapper:
a div that is on top of the slides and contains all elements that are icon controls, like play pause
will contain main-controls and secondary-controls
*/
.m4christ-audio .ma-controls .ma-icon-controls {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

/* adds padding for main-controls and secondary-controls */
.m4christ-audio .ma-controls .ma-icon-controls > div {
    flex-shrink: 1;
    padding: 8px 6px;
    text-align: center;

    border: 1pt solid rgba(0, 0, 0, 0.1);
}

/* styles for main-controls:
 will contain rewind, play-pause, and fast-forward*/
.m4christ-audio .ma-controls .ma-icon-controls .ma-icon-controls--main-controls {
    margin: 0 auto;
    width: 100%;
}

.m4christ-audio .ma-controls .ma-icon-controls .ma-icon-controls--play-pause {
    height: 40px;
    width: 40px;
}

.m4christ-audio .ma-controls .ma-icon-controls .ma-icon-controls--play-pause.highlighted .highlight {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    border-radius: 50%;

    /* animation properties */
    -webkit-animation-name: highlight-bounce;
    -moz-animation-name: highlight-bounce;
    -o-animation-name: highlight-bounce;
    animation-name: highlight-bounce;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;

    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    /*
    -webkit-animation-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
    -moz-animation-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
    -o-animation-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
    animation-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);  /* easeOutCirc */
}

@keyframes highlight-bounce {
    0% {
        top: calc(50% - 17px);
        left: calc(50% - 17px);
        height: 34px;
        width: 34px;
        background: rgba(255, 230, 0, 0.6);
    }
    50% {
        top: calc(50% - 20px);
        left: calc(50% - 20px);
        height: 40px;
        width: 40px;
        background: rgba(255, 200, 0, 0.6);
    }
    100% {
        top: calc(50% - 17px);
        left: calc(50% - 17px);
        height: 34px;
        width: 34px;
        background: rgba(255, 230, 0, 0.6);
    }
}

/* make sure icon is on top of highlight */
.m4christ-audio .ma-controls .ma-icon-controls .ma-icon-controls--play-pause > .material-icons {
    font-size: 32px;
    -webkit-transform: translate(-16px,-16px);
    transform: translate(-16px,-16px);
    line-height: 32px;
    width: 32px;
    z-index: 5;
}

/* make sure ripple is on top of icon */
.m4christ-audio .ma-controls .ma-icon-controls .ma-icon-controls--play-pause > .mdl-button__ripple-container {
    z-index: 10;
}

/*.m4christ-audio .ma-controls .ma-icon-controls .ma-controls*/
/* Some hr styles*/
.m4christ-audio .ma-controls hr {
    margin: 16px -16px;
}

/* Time Component */

/* the time wrapper:
 will contain current time and duration*/
.ma-controls-time {
    margin-top: 8px;
    padding: 8px;

    text-align: center;
    border: 1pt solid rgba(0, 0, 0, 0.1);
}

/* Slider Component
the slider itself
contains 3 components:
    itself with white background
    a buffering bar that will fit the size of buffered info (controlled via. JS)
    progress bar that will show progress (controlled via. JS):
        contains circle button that seeks track (controlled via. JS)
*/
.ma-controls-slider {
    position: relative;
    margin: 0;
    height: 25px;
}

.ma-controls-slider, .ma-controls-slider div {
    box-sizing: border-box;

    /* http://stackoverflow.com/questions/826782/css-rule-to-disable-text-selection-highlighting */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

.ma-controls-slider > div {
    position: absolute;
    top: 11px;
    height: 3px;
    min-width: 0;
    max-width: 100%;

    cursor: pointer;
}

.ma-controls-slider .ma-slider--background {
    width: 100%;
}

.ma-controls-slider .ma-slider--progress-circle {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -7px;

    height: 14px;
    width: 14px;
    border-radius: 50%;

    cursor: pointer;
}

.ma-controls-slider .ma-slider--progress-circle.pressed {
    right: -9px;
    height: 18px;
    width: 18px;
}

.mm-list > .mm-list--item.selected {
    background-color: #FFCA28; /* amber-400 */
}