.m4christ-audio {
    box-sizing: border-box;
}

.m4christ-audio * {
    box-sizing: border-box;
}

/* The controls wrapper:
a .mdl-cell that wraps all of the controls.
will contain a icon-controls wrapper and a slider-controls
*/
.m4christ-audio .ma-controls {
    padding: 16px;
    background: #fff;

    transition: box-shadow 256ms ease-in-out;
}

/* The icons controls wrapper:
a div that is on top of the slides and contains all elements that are icon controls, like play pause
will contain main-controls and secondary-controls
*/
.m4christ-audio .ma-controls .ma-icon-controls {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

/* adds padding for main-controls and secondary-controls */
.m4christ-audio .ma-controls .ma-icon-controls > div {
    flex: 1;
    padding: 8px 6px;
    text-align: center;

    border: 1pt solid rgba(0, 0, 0, 0.1);
}

/* styles for main-controls:
 will contain rewind, play-pause, and fast-forward*/
.m4christ-audio .ma-controls .ma-icon-controls .ma-icon-controls--main-controls {
    align-self: flex-start;
}

/*.m4christ-audio .ma-controls .ma-icon-controls .ma-controls*/
/* Some hr styles*/
.m4christ-audio .ma-controls hr {
    margin: 16px -16px;
}

/* Time Component */

/* the time wrapper:
 will contain current time and duration*/
.ma-controls-time {
    margin-top: 8px;
    padding: 8px;

    text-align: center;
    border: 1pt solid rgba(0, 0, 0, 0.1);
}

/* Slider Component
the slider itself
contains 3 components:
    itself with white background
    a buffering bar that will fit the size of buffered info (controlled via. JS)
    progress bar that will show progress (controlled via. JS):
        contains circle button that seeks track (controlled via. JS)
*/
.ma-controls-slider {
    position: relative;
    margin: 0;
    height: 25px;
}

.ma-controls-slider, .ma-controls-slider div {
    box-sizing: border-box;

    /* http://stackoverflow.com/questions/826782/css-rule-to-disable-text-selection-highlighting */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

.ma-controls-slider > div {
    position: absolute;
    top: 11px;
    height: 3px;
    min-width: 0;
    max-width: 100%;

    cursor: pointer;
}

.ma-controls-slider .ma-slider--background {
    width: 100%;
}

.ma-controls-slider .ma-slider--progress-circle {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -7px;

    height: 14px;
    width: 14px;
    border-radius: 50%;

    cursor: pointer;
}

.ma-controls-slider .ma-slider--progress-circle.pressed {
    right: -9px;
    height: 18px;
    width: 18px;
}

.mm-list > .mm-list--item.selected {
    background-color: #FFCA28; /* amber-400 */
}