/* Navigation */

.mdl-tabs__tab-bar {
    border-bottom: none !important;
}

.mdl-tabs__tab {
    position: relative;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.54);
    padding-left: 16px;
    padding-right: 16px;
}

.mdl-tabs__tab.is-active {
    color: rgba(255, 255, 255, 0.87) !important;
}

.mdl-tabs__tab.is-active:after {
    height: 3px !important;
    background: #ff4081 !important;
}

/* Seminar Cards */

.seminar-tabs .mdl-tabs__panel {
    padding: 16px 16px 88px;
}

#seminar-info {
    padding-bottom: 16px;
}

.seminar-card {
    width: 100%;
}

.seminar-card > .mdl-card__title {
    font-family: 'Microsoft YaHei UI', "Roboto", "Helvetica", "Arial", sans-serif;
}

.seminar-card > .mdl-card__title > .mdl-card__title-text {
    -webkit-align-self: flex-end;
    align-self: flex-end;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform-origin: 149px 48px;
    -ms-transform-origin: 149px 48px;
    transform-origin: 149px 48px;
    margin: 0;
}

.seminar-card > .mdl-card__supporting-text {
    font-family: 'Microsoft YaHei UI', "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    width: 100% !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.seminar-card > .mdl-card__menu {
    color: #fff;
    font-family: 'Microsoft YaHei UI', "Roboto", "Helvetica", "Arial", sans-serif;
}

.seminar-card .mdl-button {
    font-family: 'Microsoft YaHei UI', "Roboto", "Helvetica", "Arial", sans-serif;
}

.seminar-card > .mdl-card--border {
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.seminar-info-card > .mdl-card__title, .seminar-past-seminars > .mdl-card__title {
    padding: 16px 16px 4px;
    color: #000;
    /*height: 120px;*/
    /*background: url("/resources/imgs/joseph.jpg") no-repeat 0 15%;*/
    /*background-size: 100%;*/
}

.seminar-info-card > .mdl-card__title > .mdl-card__title-text {
    color: #000;
}

.seminar-info-card img {
    width: 100%;
}

.seminar-grid {
    padding: 0;
}

.seminar-grid .mdl-cell {
    position: relative;
    background-color: #fff;
    margin: 6px auto;
}

.seminar-grid .mdl-cell p {
    height: auto;
}

.seminar-grid .mdl-cell hr {
    margin: 0 0 2px;
}

.seminar-grid .mdl-cell .seminar-item-text {
    padding: 12px;
    float: left;
    height: 100%;
    width: calc(100% - 80px);
    box-sizing: border-box;
    border-right: 1px solid #ccc;
}

.seminar-grid .mdl-cell .mdl-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100% !important;
    width: 80px;
    vertical-align: middle;
    margin: 0;
    float: right;

    box-sizing: border-box;
}

.seminar-grid .mdl-cell .mdl-button > div {
    height: 100%;
    line-height: normal;
    margin-top: calc(50%);
}

.seminar-grid .mdl-cell .mdl-layout-title {
    font-size: 18px;
}

.seminar-grid .mdl-cell.mm-year {
    min-width: 116px;
    margin: 0 0 16px;
    padding: 16px;
}

.seminar-grid .mdl-cell.mm-year h4 {
    margin: 4px 0;
}

.seminar-grid .mdl-cell.mdl-cell--12-col {
    margin-bottom: 16px;
}

#top-fab {
    position: fixed;
    right: 44px;
    bottom: 44px;
    height: 0;
    width: 0;
    transform: translate(0);

    min-width: 0;
    transition: all 476ms ease-in-out;
    z-index: 1000000;
}

#top-fab.active {
    height: 56px;
    width: 56px;
    right: 16px;
    bottom: 16px;
}

.mm-list > .mm-list--item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.mm-list > .mm-list--item:last-of-type {
    border-bottom: none;
}