<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#283593" id="theme-color">

    <title id="title"></title>

    <script src="/resources/js/msg.js"></script>

    <script src="/resources/js/angular.min.js"></script>

    <!-- MDL Resources -->

    <link rel="stylesheet" href="/material-design-lite/dist/material.min.css">
    <link rel="stylesheet" href="/material-design-lite/dist/material-grid.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Roboto">

    <script src="/material-design-lite/dist/material.min.js"></script>
</head>

<body ng-app="mainApp">

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" id="main-layout"
     ng-controller="MainController">

    <!-- ==================
          Toolbar
    =================== -->

    <header class="mdl-layout__header" ng-controller="NavigationController">

        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title" id="header-title">{{ title }}</span>

            <div class="mdl-layout-spacer"></div>

        </div>

    </header>

    <!-- ==================
            Drawer
    =================== -->

    <div class="mdl-layout__drawer mdl-color--blue-grey-800" ng-controller="NavigationController">

        <nav class="mdl-navigation" style="padding-top: 0;" ng-controller="LinksController">
            <a class="mdl-navigation__link mdl-color-text--white" ng-repeat="link in links" ng-href="{{ link.src }}">{{
                link.name }}</a>
        </nav>

    </div>

    <!-- ==================
            Content
    =================== -->

    <main class="mdl-layout__content mdl-color--blue-grey-50">

        <div class="page-content" ng-controller="HomeController">

            <div class="mdl-grid home-grid">
                <div class="mdl-cell mdl-cell--11-col mdl-color--white mdl-shadow--4dp" ng-repeat="navLink in navLinks">
                    <img class="mdl-shadow--8dp home-img" ng-src=" {{ imgsRoot + navLink.imgSrc }} "/>
                    <span class="mdl-layout-title"> {{ navLink.title }} </span>
                    <p> {{ navLink.subtitle }} </p>
                    <hr/>
                    <a ng-href=" {{ navLink.url }} ">
                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--primary">
                            Continue
                        </button>
                    </a>
                </div>
            </div>

        </div>

    </main>
</div>

<script>
    window.pageSettings = {
        "name": "耶穌是主 － 首頁"
    };
</script>

<!-- Modules -->

<script src="/resources/js/modules.js"></script>

<!-- Controllers -->

<script src="/resources/js/controllers/MainController.js"></script>
<script src="/resources/js/controllers/NavigationController.js"></script>
<script src="/resources/js/controllers/LinksController.js"></script>
<script src="/resources/js/controllers/HomeController.js"></script>

<!-- Setup -->
<link rel="stylesheet" type="text/css" href="/resources/css/mobile.css">
<link rel="stylesheet" type="text/css" href="/resources/css/home.css">

</body>

</html>