<div class="seminar-card seminar-info-card mdl-card mdl-shadow--4dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text" ng-cloak> {{ infoTitle }} </h2>
    </div>
    <div class="mdl-card__supporting-text">
        一九五四年出生於台灣，一九九一年六月二十九日在聖神內領洗，感主厚恩，為愛祂獻上一生，單單為祂而活。一九九七年蒙主召叫，跟隨祂奔走於美國、
        加拿大、臺灣、馬來西亞、新加坡、汶萊、羅馬、德國、澳洲、香港、中國…等地，為主見證、傳主福音。
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a href="mailto:joseph@m4christ.net"
           class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--primary" id="seminar-info-button" style="min-height: 36px; height: auto;">
            如果您要邀請主僕疏效平為您的團體服務，請點擊按鈕。
        </a>
    </div>

    <img src="/resources/imgs/joseph-test.jpg" alt="Uncle Joseph! (Is Cool)" class="mdl-shadow--4dp">

    </img>
</div>