.home-grid .mdl-cell {
    position: relative;
    margin: 6px auto;
    padding: 8px;
    overflow: hidden;

    background-color: #fff;

    color: #000;
    text-decoration: none;
    font-weight: 400;
}

.home-grid .mdl-cell:active {
    /*background-color: rgba(30, 100, 255, 0.1);*/
}

.home-grid .mdl-cell .mdl-layout-title, .home-grid p {
    margin-bottom: 0;
}

.home-grid p {
    line-height: normal;
    white-space: pre;
    font-size: 16px;
}

.home-grid hr {
    margin: 6px 0 2px;
}

.home-img {
    float: left;
    margin-right: 12px;
}