.media--main-grid > .mdl-cell {
    background-color: #fff;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}

.itc {
    padding: 8px;

    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.itc--img {
    display: block;
    flex-shrink: 1;
}

.itc--text {
    display: block;
    margin-left: 8px;
    flex-shrink: 1;
}

.mm-title, .mm-subtitle {
    display: block;
}

.mm-title {
    margin: 12px 0 12px;
    font-size: 18pt;
}

.mm-hr {
    margin: 8px 0;
}

.mm-subtitle {
    margin: 0 0 8px;
    font-size: 1em;
}

.media-padding {
    padding: 8px;
}

.media-cell-center {
    margin: 8px auto;
}

.media-iframe--container {
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    height: 100%;
    width: 100%;

    background: #fff;
    z-index: 100000;

    -webkit-animation-duration: 567ms;
    animation-duration: 567ms;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
    animation-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000); /* easeOutQuart */;
}

.media-iframe--container.open {
    -webkit-animation-name: iframe-container-open;
    animation-name: iframe-container-open;
}

@-webkit-keyframes iframe-container-open {
    from {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    to {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes iframe-container-open {
    from {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    to {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

.media-iframe--container.close {
    -webkit-animation-name: iframe-container-close;
    animation-name: iframe-container-close;
}

@-webkit-keyframes iframe-container-close {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    to {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}

@keyframes iframe-container-close {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    to {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}

.media-iframe--container .mdl-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    transition: top 300ms ease-in;
}

.media-iframe--container.ready .mdl-progress {
    top: -4px;
}

.media-iframe--container.open .mdl-progress {
    top: 0;
}

.media-iframe--container.open.ready .mdl-progress {
    z-index: 10001;
}

.media-iframe--container .mdl-progress > .progressbar {
    animation-duration: 1473ms;
}

.media-iframe--iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: none;

    z-index: 10000;
}

/* really misc. */

.mdl-typography--subhead p {
    font-size: 16px !important;
}