<div class="mdl-grid mdl-grid--no-spacing seminar-grid" ng-repeat="comingSeminarList in comingSeminars">

    <div class="mdl-cell mdl-cell--7-col mdl-shadow--4dp">
        <h4> {{ comingSeminarList.year }} </h4>
    </div>

    <div class="mdl-cell mdl-cell--12-col mdl-shadow--3dp">
        <div class="mdl-grid mdl-grid--no-spacing mm-list">
            <a href="" class="mdl-cell mm-list--item" ng-repeat="comingSeminar in comingSeminarList.seminars" ng-click="open(comingSeminarList.year + '/' + comingSeminar.number + '/')">
                <div class="mm-list--item-text">
                    <span class="mm-list--item-text-title"> {{ comingSeminar.title }} </span>
                    <span class="mm-list--item-text-subtitle"> {{ comingSeminar.startDate | date }} - {{ comingSeminar.location }} </span>
                </div>
                <div class="mm-list--icon-right material-icons"> {{ icon }} </div>
            </a>
        </div>
    </div>
</div>