<div class="mdl-grid mdl-grid--no-spacing seminar-grid" ng-repeat="pastSeminarList in pastSeminars">

    <div class="mdl-cell mdl-cell--7-col mdl-shadow--4dp">
        <h4> {{ pastSeminarList.year }} </h4>
    </div>

    <div class="mdl-cell mdl-cell--12-col mdl-shadow--3dp">
        <div class="mdl-grid mdl-grid--no-spacing mm-list">
            <a href="" class="mdl-cell mm-list--item" ng-repeat="pastSeminar in pastSeminarList.seminars" ng-click="open(pastSeminarList.year + '/' + pastSeminar.number + '/')">
                <div class="mm-list--item-text">
                    <span class="mm-list--item-text-title"> {{ pastSeminar.title }} </span>
                    <span class="mm-list--item-text-subtitle"> {{ pastSeminar.startDate | date }} - {{ pastSeminar.location }} </span>
                </div>
                <div class="mm-list--icon-right material-icons"> {{ icon }} </div>
            </a>
        </div>
    </div>
</div>