<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#283593" class="mm-theme-color">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#4285f4" class="mm-theme-color">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <script src="/resources/js/angular.min.js"></script>
    <script src="/resources/js/mm-box.js"></script>
    <script src="/resources/js/mm-audio-popup.js"></script>

    <!-- MDL Resources -->

    <link rel="stylesheet" href="/material-design-lite/dist/material.min.css">
    <link rel="stylesheet" href="/material-design-lite/dist/material-grid.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Roboto">

    <!-- Modules -->

    <script src="/resources/js/modules.js"></script>

    <!-- Controllers -->

    <script src="/resources/js/controllers/media/CDVDController.js"></script>

    <!-- Setup -->

    <script src="/material-design-lite/dist/material.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/resources/css/mobile.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/media.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/mm-box.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/mm-audio-popup.css">

    <style>

    </style>
</head>
<body class="mdl-color--blue-grey-50" ng-app="mainApp" ng-cloak>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" ng-controller="CDVDController">

    <!-- Header -->
    <div class="mdl-layout__header mdl-color-text--black">

        <div class="mdl-layout__drawer-button" id="back-button">
            <i class="material-icons">arrow_back</i>
        </div>

        <div class="mdl-layout__header-row">

            <span class="mdl-layout-title mdl-color-text--white"> {{ data.title }} </span>
        </div>
    </div>

    <main class="mdl-layout__content mdl-color--blue-grey-50">

        <div class="mdl-grid mm--main-grid">
            <div class="mdl-cell mdl-cell--10-col mdl-cell--8-col-tablet mm-padding mm-cell-center">
                <span class="mdl-typography--subhead"> <b>編號:</b> {{
                        data.label }} </span>
                <br/>
                <span class="mdl-typography--subhead"> <b>內容:</b> {{
                        data.contentsWeb }} </span>
                <br/>
                <span class="mdl-typography--subhead"> <b>時間、地點:</b> {{
                        data.dateLocation }} </span>
            </div>

            <div class="mdl-cell mdl-cell--12-col">
                <div class="mdl-grid mdl-grid--no-spacing mm-list">
                    <div class="mdl-cell mm-list--header">
                        <div class="itc">
                            <div class="itc--img material-icons mdl-color-text--grey-700">video_library</div>
                            <div class="itc--text">
                                    <span class="mdl-typography--headline mdl-color-text--grey-700"
                                          style="line-height: 48px; font-size: 20px;">視頻線上收看／下載</span>
                            </div>
                        </div>
                    </div>
                    <a ng-href=" {{ '/' + video.index }} " class="mdl-cell mm-list--item iframe-link"
                       ng-repeat="video in videos">
                        <div class="mm-list--item-text">
                            <span class="mm-list--item-text-title"> {{ video.title }} </span>
                        </div>
                        <div class="mm-list--icon-right material-icons"> {{ video.logo }}</div>
                    </a>
                </div>
            </div>

            <div class="mdl-cell mdl-cell--12-col">
                <div class="mdl-grid mdl-grid--no-spacing mm-list">
                    <div class="mdl-cell mm-list--header">
                        <div class="itc">
                            <div class="itc--img material-icons mdl-color-text--grey-700">library_music</div>
                            <div class="itc--text">
                                    <span class="mdl-typography--headline mdl-color-text--grey-700"
                                          style="line-height: 48px; font-size: 20px;">
                                        音頻線上收聽／下載</span>
                            </div>
                        </div>
                    </div>
                    <a class="mdl-cell mm-list--item" ng-repeat="mp3 in data.mp3URLs"
                       ng-click="setInfo(mp3.title, mp3.href)">
                        <div class="mm-list--item-text">
                            <span class="mm-list--item-text-title"> {{ mp3.title }} </span>
                            <span class="mm-list--item-text-subtitle"> {{ mp3.size }}</span>
                        </div>
                        <div class="mm-list--icon-right material-icons">keyboard_arrow_right</div>
                    </a>
                </div>
            </div>

            <div class="mdl-cell mdl-cell--10-col mdl-cell--8-col-tablet mm-padding mm-cell-center">
                <span class="mdl-typography--headline"> 簡介 </span>
                <br/>
                <span class="mdl-typography--subhead" ng-bind-html="thisCanBeusedInsideNgBindHtml"> {{ data.introduction }}</span>
            </div>
        </div>
    </main>
</div>

<div class="mm-audio-popup-wrapper">
    <div class="mdl-button--fab mdl-js-button mdl-js-ripple-effect mdl-color--blue-A700 mm-ap--fab">
        <i class="material-icons mdl-color-text--accent-contrast">keyboard_arrow_up</i>
    </div>

    <div class="mdl-shadow--16dp mdl-color--amber-700 mm-ap--audio-wrapper">

        <div class="mdl-button--fab mdl-js-button mdl-js-ripple-effect mdl-color--blue-A700 mm-ap--fab">
            <i class="material-icons mdl-color-text--accent-contrast">keyboard_arrow_down</i>
        </div>

        <div class="mdl-grid mm-ap--audio-grid">
            <div class="mdl-cell mdl-cell--12-col mdl-shadow--4dp mm-ap--audio-title"></div>
            <div class="mdl-cell mdl-cell--12-col mdl-shadow--4dp mm-ap--audio-container">
                <audio class="mm-ap--audio" controls autoplay></audio>
            </div>
        </div>
    </div>
</div>

<footer mobile-footer></footer>

<img src="http://img.youtube.com/vi/79IXjbns7JU/mqdefault.jpg" style="display: none;" id="hidden-img">

</body>
</html>